.eventpage-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.eventpage-container h1 {
    margin-bottom: 20px;
    text-align: center;
}


.event-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.join-button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.join-button:hover {
    background-color: blue;
}

.event-details {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.status-full {
    color: lightpink;
    font-weight: bold;
}

.filter-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.filter-container h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.filter-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.filter-container button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.filter-container button:hover {
    background-color: blue;
}
