/* Style for the resources page */
.resources-page {
    padding: 80px;
    text-align: center;
}

.video-caption {
    margin-bottom: 50px;

}
  
.safeway-mission {
    text-align: center;
    margin-top: 50px;
}
  
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    object-fit: contain;
    width: 100%;
  }  
  
.card {
    width: 390px; 
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* transition for smooth effect */
}

.card:hover {
    transform: scale(1.05); /* enlarge effect on hover */
}

.card-body {
    text-align: center;
    padding: 20px;
}
  
.card-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}
  
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratings-section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
  
.rating-card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.rating-stars {
    color: #ffc107; 
}
  
.rating-comment {
    margin-top: 10px;
}
  
.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headline-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    border-radius: 10px;
}

.headline-left {
    flex: 1;
    padding-right: 20px; 
}

.headline-left h2 {
    font-family: 'Montserrat', sans-serif; 
    color: #333; 
}

.headline-right {
    flex: 1;
}

.headline-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

@media (max-width: 768px) {
    .headline-content {
      flex-direction: column-reverse; 
      align-items: flex-start; 
    }
  
    .headline-left, .headline-right {
      flex: none; 
      width: 100%; 
      padding: 0; 
    }
  
    .headline-right img {
      margin-bottom: 20px; 
    }
}


/* Style for the HomePage */
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #FFF1E0; 
    color: #333; 
}

h1 {
    opacity: 0;
    transform: translateY(20px);
    animation: slideFadeIn 1s ease-in-out forwards;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 5%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
    font-size: 1.75rem; 
    font-weight: bold;
    color: #5DADE2; 
    text-decoration: none; 
}

.nav-links {
    font-size: 1.25rem;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #5DADE2; 
}

.nav-links li {
    margin-left: 5rem; 
}

.main1 {
    text-align: center;
    padding: 5% 10%;
}

.title {
    color: #5DADE2; 
    font-size: 5rem; 
    margin: 0;
}

.main1 p:hover {
  color: #5DADE2;
}

.main1 p {
    color: #555; 
    font-size: 2.5rem; 
    max-width: 70%; 
    padding-top: 3rem;
    margin: 1rem auto; 
}

.services-section {
    padding: 2rem 0;
}

.services-section h2 {
    text-align: center;
    color: #5DADE2;
    font-size: 5rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    padding: 1rem;
}
  
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    width: 300px;
    height: 300px;
    margin: 10px; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.service-item.enlarged {
  transform: scale(1.05); 
}

.service-item:hover {
    cursor: zoom-in; 
}
  
.service-item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
  

.service-item button {
    background-color: #5DADE2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1rem;
}

.footer-content {
    background: #5DADE2; 
    color: white; 
    padding: 2rem; 
    display: flex; 
    flex-wrap: wrap; 
}

.footer-container {
    max-width: 1200px; 
    margin: auto; 
    display: flex;
    justify-content: space-between; 
}

.column {
    flex: 1; 
    margin: 1rem; 
}

.contact-form {
    flex-basis: 100%; 
}

.column h2 {
    margin-bottom: 1rem; 
}

.column a {
    display: block; 
    margin-bottom: 0.5rem; 
    color: white; 
    text-decoration: none; 
}

.column a:hover {
    text-decoration: underline; 
}

input[type="email"], textarea {
    width: 100%; 
    padding: 1rem; 
    margin: 0.5rem 0; 
    border: none; 
    border-radius: 10px;
}

textarea {
    height: 150px; 
    resize: vertical; 
}

button {
    background-color: #333; 
    color: white; 
    padding: 1rem 2rem; 
    border: none; 
    cursor: pointer; 
    margin-top: 1rem; 
}

/* homepage responsive */
@media screen and (max-width: 768px) {
    .nav-links, .auth {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li, .auth div {
        margin: 0.5rem 0;
    }

    .signup-button {
        margin-top: 0.5rem;
    }

    .main1 {
        padding: 10% 5%;
    }

    .title {
        font-size: 3rem;
    }

    .main1 p {
        font-size: 1rem;
    }

    .service-item {
        width: 49%; 
    }
}


@media screen and (max-width: 480px) {
    .service-item {
        width: 100%; 
    }
}

