/* Style for the resources page */
.resources-page {
    padding: 20px;
}
  
.safeway-mission {
    text-align: center;
    margin-top: 50px;
}
  
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    object-fit: contain;
    width: 100%;
  }  
  
.card {
    width: 390px; 
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* transition for smooth effect */
}

.card:hover {
    transform: scale(1.05); /* enlarge effect on hover */
}

.card-body {
    text-align: center;
    padding: 20px;
}
  
.card-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}
  
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratings-section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
}
  
.rating-card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.rating-stars {
    color: #ffc107; 
}
  
.rating-comment {
    margin-top: 10px;
}
  
.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
